body {
background-color: white;
/*width : 1500px;*/
}


div.lien { 
   /*border: blue thin solid; */
   font-weight: 900;
   font-family: "Arial";
   font-size: 23px;
   text-align: center;
   float: left;
   margin-left:1.5em;
   margin-right:1.5em;
   width: 50px; 
    } 

a:visited {
    text-decoration: none;
    color: #000000;
}

/*div.lien.ici { 
   border-radius: 5px;
   border : 1px solid black;
   background: whitesmoke;
   width: 75px; 
} */

div.fond{
   height: 3em;
   line-height: 3em; 
   /*border-radius: 5px;*/
   margin-left: auto;
   margin-right: auto;
   width: 900px; 
   background-color: #B39B84;
   /*position: fixed;*/
}

img.displayed_index {display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

img.displayed {
   /*border : 1px solid black;*/
   display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

 .div_center {
   height: 1.5em;
   line-height: 1.5em; 
   font-size: 25px;
   font-family: "Arial";
   font-weight: bold;
   border-radius: 15px;
   width : 600px;
   margin-left: auto;
   margin-right: auto;
   /*border : 1px solid black;*/
   /*background-color: #D7BC86;*/
   text-align: center;
 }
  .div_bande {
   width : 900px;
   margin-left: auto;
   margin-right: auto;
   background-color: #E4DED1;
   text-align: center;
   box-shadow: 1px 1px 12px #555;
 }
 .tit {
   height: 1.5em;
   line-height: 1.5em; 
   /*float:left;*/
   text-align: left;
   margin-left: 20px;
}
object {

   display: block;
    margin-left: auto;
    margin-right: auto

}

#nav li 
{
   display:inline;
   background:#F0AC25;
   padding:0;
   margin:0;
}

      
#nav 
{
   margin:0;
   padding:0;

   /*background:#808259*/ 
   float:left;
   width:100%;
}
           
#nav a:link, #nav a:visited 
{
   color:#000;
   /*background:#F0AC25;*/
   padding:20px 40px 4px 10px;
   float:left;
   width:auto;
}


 
#nav a:active 
{
   background:#e35a00;
   color:#fff;
}

