body {
background-color: white;
/*width : 1500px;*/
}

textarea{
   background-color: #DBDBDB;
   border : 0px solid black;
    width : 750px;
    resize: none;
    font-family: "Arial";
   /*font-size: 20px;*/

}
div.barrebot{
   width: 100%;
   bottom : 0px;
   left :0px;
   position: fixed;
   background-color: red;
   height: 25px;
   line-height: 25px;
   background: rgba(180, 180, 180, 0.8);
}
div.barrebot2{
   width: 100%;
   height: 50px;
   line-height: 50px;
}



div.entet {
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
   /*background-color: #B6B6B6;*/
}
div.tit1 { 
   /*border: blue thin solid; */
   height: 1.5em;
   line-height: 1.5em; 
   font-weight: 600;
   font-family: "Arial";
   font-size: 100px;
   text-align: left;
   /*margin-top: 0.5em;*/
   /*margin-bottom: 0.3em;*/
   margin-left:50px;
   margin-right:1.5em;
    } 
div.lien { 
   /*border: blue thin solid; */
   font-weight: 600;
   font-family: "Arial";
   font-size: 23px;
   text-align: left;
   float: left;
   display: inline;
   margin-left: 50px;
   margin-right:1.5em;
   /*width: 50px; */
    } 

a:visited {
    text-decoration: none;
    color: black;
}
a{
   color: black;
}

/*div.lien.ici { 
   border-radius: 5px;
   border : 1px solid black;
   background: whitesmoke;
   width: 75px; 
} */

div.fond{
   height: 3em;
   line-height: 3em; 
   text-align: center;
   /*border-top-right-radius: 15px;*/
   /*border-top-left-radius: 15px;*/
   /*border-radius: 5px;*/
   margin-left: auto;
   margin-right: auto;
   /*margin-top: 20px;*/
   margin-bottom: 20px;
   width: 900px; 
   background: rgba(195, 195, 195, 0.9);
   /*background-color: #C3C3C3  ;*/
   position: -webkit-sticky;
   position: sticky;
   top: 5px;
   /*background-color: #B3B3B3;#9D9D9D*/
   /*background-image:linear-gradient(#AEAEAE, #DBDBDB);*/
   /*position: fixed;*/
}

img.displayed_index {display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

img.displayed {
   /*border : 1px solid black;*/
   display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

 .div_center {
   height: 2.5em;
   line-height: 2.5em; 
   font-size: 25px;
   font-family: "Arial";
   font-weight: bold;
   border-radius: 15px;
   width : 850px;
   margin-left: auto;
   margin-right: auto;
   /*border : 1px solid black;*/
   /*background-color: #D7BC86;*/
   text-align: center;
 }
  .div_bande {
   border-radius: 15px;
   width : 900px;
   margin-left: auto;
   margin-right: auto;
   /*background-color: #E4DED1;*/
   background-color: #DBDBDB;
   text-align: center;
   box-shadow: 1px 1px 12px #555;
 }
 .tit {
   height: 2.5em;
   line-height: 2.5em; 
   /*float:left;*/
   width: 600px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
   /*margin-left: 20px;*/
}
object {

   display: block;
    margin-left: auto;
    margin-right: auto

}

#nav li 
{
   display:inline;
   background:#F0AC25;
   padding:0;
   margin:0;
}

      
#nav 
{
   margin:0;
   padding:0;

   /*background:#808259*/ 
   float:left;
   width:100%;
}
           
#nav a:link, #nav a:visited 
{
   color:#000;
   /*background:#F0AC25;*/
   padding:20px 40px 4px 10px;
   float:left;
   width:auto;
}


 
#nav a:active 
{
   background:#e35a00;
   color:#fff;
}

